@charset "utf-8";
/* CSS Document */

.bindStepTitle{
	font-size:18px;
	border-bottom:1px dotted #d6d6d6;
	padding:15px 30px;
	text-align:center;
}
.inputWeixinName{
	text-align:center;
	padding:30px;	
}
.inputWeixinName input{
	width:180px;
	height:30px;
	border-radius:3px;
	border:1px solid #d6d6d6;
	padding:2px 8px;
	font-size:16px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:30px;	
}
.inputWeixinName label{
	margin-right:5px;
	font-size:16px;
	color:#F05A4A;	
}
.bindWeixinOpt{
	text-align:center;	
}
.bindWeixinNext{
	background: url("/static/images/public/btn_bg.png") repeat-x scroll 0 0 transparent;
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin: 20px 0 0 0;
    text-align: center;
    width: 100px;	
}
.bindWeixinNext:hover{
	background:#f2f2f2;	
}