@charset "utf-8";
.head{
	height:80px;
	background:#f2f2f2;	
	border-bottom:3px solid #dedede;
}
.headContent{
	width:980px;
	height:80px;
	margin: auto;	
}
.logo{
	width:240px;
	height:80px;
	background:url("/static/images/loginlogo.png") 0 12px no-repeat;	
}

.announcement{
	color:#333;	
	padding:15px;
	font-size:16px;
	margin-top:10px;
}
.content{
	background:url("/static/images/login_bg.png") center -10px no-repeat;	
	border-bottom:2px solid #ccc;
}
.contentBody{
	width:980px;
	margin:0 auto;
/*	height:400px;*/	
	height:434px;
}
.loginFrame{
	float:right;
	border:2px solid #bbb;	
	width:280px;
	margin-top:20px;
	box-shadow:2px 2px 2px #b2b2b2;
	border-radius:2px;
	position:relative;
}
.loginTitle a{
	color:#fff;	
	display:block;
}
.login{
	width:50%;
	hieght:42px;
	line-height:42px;
	background:#c61a14;
	color:#fff;	
	float:left;
	text-align:center;
}
.loginBody{
	background:#f8f8f8;	
	padding:34px 20px 60px;	
}
.loginBody p{
	margin:3px 0;	
}
.loginBody p:first-child{
	margin:13px 0 3px;	
}
.forgetPwd{
	text-align:right;	
}
.forgetPwd a{
	color:#5093d5;
}
.regeditBody{
	background:#fafafa;	
	padding:34px 20px;
	opacity:0.9;
}
.errorPrompt{
	position:absolute;
	color:#d22f2a;
	top:50px;
	z-index:5;	
	left:18px;
}
.regeditBody p{
	margin:3px 0;
	padding-left:28px;	
}
p.confirmPwd{
	padding-left:0;	
}
.regeditBody p:first-child{
	margin:0 0 3px;	
}
.regeditBody p:last-child{
	padding-left:0;
}
.regeditBody p input, .loginBody p input{
	border: 1px solid #A09E99;
    font-size: 14px;
    height: 15px;
    margin-bottom: 10px;
    padding: 7px 5px;    
	margin-left:6px;
	font-family:Arial, Helvetica, sans-serif;
}
.regeditBody p input{
	width:162px;
}
.loginBody p input{
	width:190px;	
}
.loginBtn, .regeditBtn{
	text-align:center;	
} 
.loginBtn{
	margin-top:20px;	
}
.loginBtn a, .regeditBtn a{
	display:inline-block;
	width:230px;
	height:35px;
	line-height:35px;
	text-align:center;
	color:#fff;
	border:1px solid #b71f1e;
	background:url("/static/images/login/loginBtnBg.png") repeat-x;
}
.loginBtn a:hover, .regeditBtn a:hover{
	background:#d22f2a;	
}
.loginBtn a{
}
.regedit{
	width:50%;
	height:42px;
	line-height:42px;
	background:#292d33;
	color:#fff;
	display:inline-block;		
	text-align:center;
}
.ooperation{
	width:980px;
	margin:0 auto;	
}
.ooperation ul li{
	float:left;
	margin:30px;	
}
.ooperation ul li img{
	width:100px;
}
.footBar{
	border-top:2px solid #d6d6d6;	
}
.foot{
	width:980px;
	margin:0 auto;	
}
.foot p{
	text-align:center;
	padding:10px 0;	
}