@charset "utf-8";
/* CSS Document */

.messageListTitle{
	background:#f2f2f2;
	margin:15px;
	padding:15px;
	font-size:18px;
	font-weight:bold;
	border:1px solid #d6d6d6;
	position:relative;
}
.userMessageList{
    padding: 10px 15px;
	min-height:500px;	
}
.messageSearch{
	position:absolute;
	right:15px;
	top:12px;
	color:#2367D1;
	font-size:16px;
	font-weight:normal;		
}
.messageSearch input{
	width:200px;
	height:26px;
	line-height:26px;
	padding:0 5px;	
	font-family:Arial, Helvetica, sans-serif;
}
.messageSearch a{
	background:#C61A14;
	color:#fff;
	font-size:14px;
	padding:4px 15px;
	border-radius:0 3px 3px 0; 
}
.userId{
	padding-left: 20px;
    text-align: left;
    width: 60px;
}
.userNiceName{
	padding-left: 20px;
    text-align: left;
    width: 150px;
}
.messageContent{
	padding-left: 20px;
    text-align: left;
    width: 150px;
}
.messageReplay{
	padding-left: 20px;
    text-align: left;
    width: 150px;
}
.messageTime{
	padding-left: 20px;
    text-align: left;
    width: 85px;
}
.messageInformation{
	padding-left: 20px;
    text-align: left;
    width: 60px;
}
.userMessageList table{
	border-collapse: collapse;
    border-spacing: 0;
	border:1px solid #d6d6d6;
	width:100%;	
}
.userMessageList tbody td {
    border-bottom: 1px solid #E6E6E6;
    padding: 15px;
    vertical-align: top;
	font-size:14px;
    word-break:break-all;
    word-wrap:break-word;
}
.userMessageList tbody th {
	border-top:1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px;
	font-weight:bold;
    vertical-align: top;
	background:#f8f8f8;
	font-size:14px;
	color:#333;
}
