@charset "utf-8";
/* CSS Do.cument */
body,form,ul,ol,li,p,h1,h2,h3,h4,h5,h6,dl,dt,dd{margin:0; padding:0;}

.apps_main{background:#f8f9fb; color:#425c9e; font:14px/1.8 "微软雅黑",Helvetica; text-align:left;height:auto;margin:0px;overflow:hidden;padding:0;/*width:100%;*/ width:100%;min-width:220px;}
.apps_main input, .apps_main select, .apps_main img{margin:0; padding:0; font:16px/2 "微软雅黑",Helvetica; vertical-align:middle;}
.apps_main ul, .apps_main ol, .apps_main ul li, .apps_main ol li{ list-style:none;}
.apps_main a, .apps_main a:hover{color:#425c9e; text-decoration:none;}
.apps_main table{ width:100%; border:0px; border-collapse:collapse;border-spacing:0;}
.apps_container,.apps_cl{ clear:both;}
.apps_container:after,.apps_cl:after{content:"."; display:block; height:0; clear:both; visibility:hidden;}
.apps_container{padding:0px 2px;width:98%;}

.apps_container select{height:32px;border:1px solid #b1c6d6;}

.apps_fz12{font-size:12px;}
.apps_fz14{font-size:14px;}
.apps_fz16{font-size:16px;}
.apps_fz18{font-size:18px;}
.apps_textc{ text-align:center;}
.apps_textl{ text-align:left;}
.apps_textr{ text-align:right;}
.apps_fr{ float:right;}
.apps_fl{ float:left;}
.apps_p_lr10{ padding:0px 10px;}
.apps_p_td10{ padding:10px 0px;}
.apps_p10{ padding:10px;}
.apps_line150{ line-height:150%;}
.apps_line24px{ line-height:24px;}


/* 常用宽高 */
.apps_hdlt{ height:28px; border:#555 solid 1px;}
.apps_h34{ height:34px;}
.apps_h60{ height:60px;}
.apps_h80{ height:80px;}
.apps_h120{ height:120px;}
.apps_w40{ width:40px;}
.apps_w60{ width:60px;}
.apps_w80{ width:80px;}
.apps_w100{ width:100px;}
.apps_w120{ width:120px;}
.apps_w140{ width:140px;}
.apps_w160{ width:158px;}
.apps_w180{ width:180px;}
.apps_w190{ width:190px;}
.apps_w200{ width:200px;}
.apps_w220{ width:220px;}
.apps_w280{ width:280px;}

/* 字体大小 */
td .apps_fsize14{font-size:14px;}

/* 标题栏 */
.apps_title{background:url(../images/apps/apps_title_bg.gif) repeat-x;height:28px; line-height:28px; padding-left:10px;font-weight:bold; color:#646464;}
.apps_title a{ float:right; font-size:12px; margin-right:10px; font-weight:normal;}
.apps_title2{ line-height:24px; border-bottom:dashed 1px #ccc;background:#f6f6f6;padding:2px 10px; color:#646464;}
.apps_title2 img{ vertical-align:middle; margin-right:10px;}
.apps_title3{height:32px; line-height:32px; padding-left:10px;color:#555; border-top:#d8d8e2 solid 1px; border-bottom:#8c9bb8 solid 1px;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#d9d9e3));background:-moz-linear-gradient(top, #fefefe, #d9d9e3 100%);}
.apps_title3 a{ float:right; margin-right:10px; color:#555;}

/* 常用表单 */
.apps_tableselect{ padding:0px; overflow:hidden; margin-bottom:10px;}
.apps_tableselect td{ padding:2px 0px;}
.apps_divleselect{ clear:both; padding:5px 0px;}
.apps_divleselect li{ clear:both; width:100%; margin:5px 0px;}
.apps_divleselect li label{ width:30%; text-align:right; display:inline-block;}
.apps_divselect2 li span{ display:inline-block; width:15px; text-align:center; vertical-align:top;color:#F00;}
.apps_divselect2 li div{ display:inline-block; color:#646464;}
.apps_divselect2tab{}
.apps_divselect2tab td{ vertical-align:top;}

.apps_searchtouch{border-bottom:1px solid #d8d8e4;border-top:1px solid #d8d8e4;padding:5px 10px; font-size:12px;background:#f3f4f8;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fcfcff), to(#e4ecf9));background:-moz-linear-gradient(top, #fcfcff, #e4ecf9 100%);}
.apps_searchtouch p{padding:1px 0 5px 10px;background:#fdfdfd;border:1px inset #eaeaea;border-radius:20px;height:28px;box-shadow:1px 1px 1px #cccccc inset; position:relative; overflow: visible; padding:0px 40px 0px 70px;}
.apps_searchtouch p.left{padding:1px 0 5px 10px;background:#fdfdfd;border:1px inset #eaeaea;border-radius:20px;height:28px;box-shadow:1px 1px 1px #cccccc inset; position:relative; overflow: visible; padding:0px 40px 0px 10px;}
.apps_searchtouch .apps_searchtouch_inp{border:0; width:100%; height:28px; background:none; color:#000000;}
.apps_searchtouch select{ width:50px; float:left; position:absolute; left:10px; top:3px;}
.apps_searchtouch .btn{ background:url(../images/apps/search_btn.gif) center center no-repeat;width:36px;height:26px;cursor:pointer;border:0;margin-top:2px;margin-right:2px; position:absolute; right:0;}

.apps_searchtouch1{border-bottom:1px solid #d8d8e4;border-top:1px solid #d8d8e4;padding:2px 5px 2px 5px; font-size:12px;background:#f3f4f8;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fcfcff), to(#e4ecf9));background:-moz-linear-gradient(top, #fcfcff, #e4ecf9 100%);}
.apps_searchtouch1 p{padding:1px 0 5px 10px;background:#fdfdfd;border:1px inset #eaeaea;border-radius:20px;height:28px;box-shadow:1px 1px 1px #cccccc inset; position:relative; overflow: visible; padding:0px 40px 0px 70px;}
.apps_searchtouch1 p.left{padding:1px 0 5px 10px;background:#fdfdfd;border:1px inset #eaeaea;border-radius:20px;height:28px;box-shadow:1px 1px 1px #cccccc inset; position:relative; overflow: visible; padding:0px 40px 0px 10px;}
.apps_searchtouch1 .apps_searchtouch_inp{border:0; width:100%; height:28px; background:none; color:#000000;}
.apps_searchtouch1 select{ width:50px; float:left; position:absolute; left:10px; top:3px;}
.apps_searchtouch1 .btn{ background:url(../images/apps/search_btn.gif) center center no-repeat;width:36px;height:26px;cursor:pointer;border:0;margin-top:2px;margin-right:2px; position:absolute; right:0;}

/* 新闻列表 */
.apps_list1_1{ margin-bottom:10px;}
.apps_list1_1 li{line-height:32px;clear:both;color:#555; background:url(../images/apps/touch_01.gif) no-repeat right center; border-bottom:1px solid #e8e8f0; padding:0px 10px;}
.apps_list1_2{ clear:both; height:auto; overflow:hidden;}
.apps_list1_2 li{ width:50%; float:left;}
.apps_list1_3{ clear:both; height:auto; overflow:hidden;}
.apps_list1_3 li{ width:30%; float:left; background:#fff; border:#e5e6ea solid 1px; margin:4px 4px; text-align:center;}
.apps_list1_4{ clear:both; height:auto; overflow:hidden;}
.apps_list1_4 li{ width:25%; float:left;}
.apps_list1_5{ margin-bottom:10px;}
.apps_list1_5 li{line-height:32px;clear:both;color:#555; padding:0px 10px;}
.apps_mapimg{ margin:10px 0px;}
.apps_imglist{ padding:0px;}
.apps_imglist dl{ clear:both; height:auto; overflow:hidden;background:#f8f8f8;background:-webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));background:-moz-linear-gradient(top, #fff, #f2f2f2 100%);padding:10px 10px;}
.apps_imglist dl dt{ float:left;width:100px;}
.apps_imglist dl dt img{ width:90px; height:70px; padding:2px; border:#1px solid #E3E3E3;}
.apps_imglist dl dd{margin-left:10px; line-height:180%;}
.apps_imglist2 dl{ clear:both; height:auto; overflow:hidden;border-bottom:#dadada dashed 1px; margin:10px 0px; padding-bottom:5px;}
.apps_imglist2 dl dt{ float:left;}
.apps_imglist2 dl dt img{ width:57px; height:57px;}
.apps_imglist2 dl dd{float:left; margin-left:10px; line-height:180%; width:250px;}
.apps_imglist2tab td{ padding:6px 0px;}
.apps_imglist2tab td img{ margin-right:10px;}
.apps_tablist table{ width:320px;}
.apps_tablist table td{ padding:2px 0px;}
.apps_tablist .apps_dline{ border-bottom:#dadada dashed 1px;}


/* 搜索结果列表 */
.apps_divlist{}
.apps_divlist li{ clear:both; border-bottom:#dadada dashed 1px; padding:0px 10px;}
.apps_divlist li p span{ float:right; padding-left:10px;color:#646464;}
.apps_divlisttab td{ padding:0px; padding:0px 10px;}


/* 应用图标列表*/
.apps_applist{overflow:auto; _height:10px; _overflow:visible; margin:0px auto;}
.apps_applist li{ float:left; padding:10px 12px; text-align:center; font-size:12px;}
.apps_applist li img{width:48px; height:48px;}
.apps_applisttab{}
.apps_applisttab td{ padding:5px 0px; text-align:center; font-size:12px;}
.apps_applisttab td img{width:48px; height:48px;}

.apps_appshu{ height:auto; overflow:hidden;}
.apps_appshu dl{ border:#f0f1f3 solid 1px; height:auto; overflow:hidden; background:#fff; padding:10px; margin:10px 0px; width:278px;}
.apps_appshu dl dt{ float:left;}
.apps_appshu dl dt img{ height:48px; height:48px; margin-top:5px;}
.apps_appshu dl dd{ float:left; margin-left:10px; width:205px;}
.apps_appshu dl dd h5{ font-size:16px;}
.apps_appshu dl dd p{ padding:2px 0px;}
.apps_appshu dl dd p img{ margin-right:2px;}
.apps_appshu dl dd span{ float:right; margin-top:10px;}
.apps_appshu dl dd span a{ border:#e9ebea solid 1px; border-radius:5px;background:#f1f1f1;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f8f8f8), to(#e9e9e9));background:-moz-linear-gradient(top, #f8f8f8, #e9e9e9 100%); color:#7a7a7a; padding:2px 10px;}
.apps_appheng{ height:auto; overflow:hidden; padding:5px 0px;}
.apps_appheng ul{ clear:both;}
.apps_appheng li{ background:#fff; float:left; margin:5px; text-align:center; width:70px; padding:5px 0px;}
.apps_appheng li h4{ text-align:center;}
.apps_appheng li h4 img{ width:48px; height:48px;}
.apps_appheng li h5{ text-align:center; font-size:14px;}
.apps_appheng li p{ text-align:center;}
.apps_appheng li p img{ width:10px; height:10px; margin:0px 1px 0px 0px;}
.apps_appheng{}

/* 分页 */
.apps_page{text-align:center; margin:10px 0px; padding:10px 0px; }
.apps_page .apps_pageinp2{ border:#b1c0df solid 1px; width:30px; height:18px; background:none; margin:0px 5px;}
.apps_page .apps_pageinp3{ background:url(../images/apps/page_02.gif) no-repeat; border:0px; cursor:pointer; width:26px; height:20px;margin:0px 5px;}
.apps_page a{ margin:0px 5px;}
.apps_page1{ text-align:center; padding:10px 0px;}
.apps_page1 a{ padding:0px 10px;}
.apps_page2{ height:auto; overflow:hidden;}
.apps_page2 p{ width:240px; height:32px; line-height:32px; text-align:center; display:block; margin:10px auto; border:#f1f1f1 solid 1px;background:#f9f9f9;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f9f9f9), to(#f5f5f5));background:-moz-linear-gradient(top, #f9f9f9, #f5f5f5 100%); cursor:pointer;}



/* 选项卡 */
.apps_tab1{height:32px; line-height:30px; text-align:center;background:#e5ebf3;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f4f7), to(#e1e8f2));background:-moz-linear-gradient(top, #f0f4f7, #e1e8f2 100%); border-top:#d4dcee solid 1px;}
.apps_tab1 a{ color:#425c9e; width:33%; display:inline-block; height:27px;border-bottom:#425b9d solid 3px;}
.weibo_tab1 a{width:25%;}
.apps_tab1 a:hover{border-bottom:#ff3c0e solid 3px;}
.apps_tab1 .on{ border-bottom:#ff3c0e solid 3px;}
.apps_slidebox {position:relative;overflow:hidden;width:100%;height:auto;zoom:1;/*height:227px;*/}
.apps_slidebox_img{height:179px;}
.apps_slidebox ul.ot{position:absolute;}
.apps_slidebox ul.ot li.otli{float:left;width:320px;/*height:193px;*/position:relative;}
.apps_slidebox ul.ot li.otli ol{width:300px;padding:0 10px;overflow:hidden;}
.apps_newscircle{text-align:center;}
.apps_newscircle span{margin:7px;font-size:0;text-indent:-9999em;width:10px;height:10px;border-radius:5px; background:#a8a8a8;display:inline-block;cursor:pointer;line-height:10px;}
.apps_newscircle .on{font-size:12px;color:#fff; background:#849ede; position:relative;top:5px;top:10px\0;}
.apps_mainSlider{ padding:0px;}

/* 选项卡 */
.apps_tab11{height:32px; line-height:30px; text-align:center;background:#e5ebf3;background:-webkit-gradient(linear, 0 0, 0 100%, from(#f0f4f7), to(#e1e8f2));background:-moz-linear-gradient(top, #f0f4f7, #e1e8f2 100%); border-top:#d4dcee solid 1px;}
.apps_tab11 .on{ border-bottom:#ff3c0e solid 3px;}


/* 分割线 */
.apps_dlined{border-bottom:#dadada dashed 1px;}
.apps_dlines{border-bottom:#dadada solid 1px;}


/* 查询输入框 */
.apps_searchform{ padding:5px 10px;overflow:visible;}
.apps_searchform3g{ margin:10px 0px;overflow:visible;}
.apps_searchform3g .form_text{ border:#9aa9d2 solid 1px; width:120px;}
.apps_searchform3g .form_btn{ background:url(../images/apps/searchform_btn_01.gif) no-repeat; width:48px; height:25px; cursor:pointer; border:0px; margin:0px; padding:0px;}
.apps_searchformeasy{ margin:10px 0px;}
.apps_searchformeasy select{border:#b0c7d4 solid 1px;}
.apps_searchformeasy .form_text{ border:#b0c7d4 solid 1px;height:18px; width:182px; margin-right:5px; background:#fff; vertical-align:middle;}
.apps_searchformeasy .form_text2{ border:#b0c7d4 solid 1px;height:28px; background:#fff; vertical-align:middle;}
.apps_searchformeasy .form_btn{ background:url(../images/apps/searchform_btn_02.gif) no-repeat; width:39px; height:23px; cursor:pointer; border:0px; margin:0px; padding:0px;}


/*表单样式*/
.apps_seleMenuBtn{cursor:pointer;}
.apps_seleMenu{border:1px solid #707070; padding:2px 5px; position:absolute; background:#fff; z-index:9999; display:none;left:0;top:34px;}
.apps_seleMenu p{line-height:20px;padding:3px;}
.apps_schseleMenu{background:#fff;border:1px solid #d4d4d4;border-radius:5px;padding:0;margin-left:-15px;margin-top:3px;}
.apps_schseleMenu p{padding:0 5px;box-shadow:none;border-radius:0;background:none;font-size:14px;text-align:center;border:0;}
.apps_schseleMenu p span{display:block;border-bottom:1px dashed #d4d4d4;height:27px;}
.apps_schseleMenu p:last-child span{border-bottom:none;}
.apps_schseleMenu p:last-child{border-radius:0 0 5px 5px;overflow:hidden;}
.apps_schseleMenu p:first-child{border-radius:5px 5px 0 0;overflow:hidden;}

.apps_fn_seleJs{display:inline-block;position:relative;overflow:visible;}
.apps_fn_seleJs .seleTB{display:inline-block;border:1px solid #9aa9d2;background:#fff url(../images/apps/menu/tag01.jpg) 100% top no-repeat;height:32px;line-height:32px;padding:0 23px 0 3px; vertical-align: middle;overflow:hidden;word-break:break-all;}
.apps_fn_seleJs .apps_fn_selshow{display:block;border:none;background:none;height:30px;line-height:30px;padding:0;cursor:point;white-space:nowrap;overflow:hidden;position:relative;}
.apps_fn_seleJs .apps_seleMenu{border:1px solid #707070; padding:2px 5px; position:absolute; background:#fff; z-index:9999; display:none;max-height:188px;left:0;*top:32px;white-space:nowrap;}
.apps_fn_seleJs .apps_seleMenu p{line-height:20px;padding:3px;}
.apps_fn_seleJs .apps_seleMenu p.on{background:#eee;cursor:pointer;}
.apps_fn_radioTb .radioBtn,.apps_fn_radioTb .radioBtn_on{display:inline-block;background:url(../images/apps/menu/radio.gif) 0% 0%;width:15px;height:15px;overflow:hidden;vertical-align:middle;margin-right:3px;cursor:pointer;}
.apps_fn_radioTb .radioBtn_on{background-position:0% 200%;}
.apps_fn_ckboxTb .ckboxBtn,.apps_fn_ckboxTb .ckboxBtn_on{display:inline-block;vertical-align:middle;width:15px;height:15px;overflow:hidden;background:url(../images/apps/menu/checkbox.gif) 0% 0%;margin-right:3px;cursor:pointer; }
.apps_fn_ckboxTb .ckboxBtn_on{background-position:0% 200%; }
.apps_fn_schTB{display:inline-block;border:none;background:url(../images/apps/menu/CollapseTree.gif) 95% center no-repeat;height:28px;padding:0 3px; vertical-align: middle;position:absolute;float:left;left:10px;overflow:visible;cursor:pointer}
.apps_fn_schTB .selshow{border:none;background:none;padding:0;cursor:point;white-space:nowrap;font-size:14px;display:block;line-height:28px;}
.apps_fn_schMenu{background:#fff;border:1px solid #d4d4d4;border-radius:5px;padding:0;margin-left:-10px;margin-top:3px;max-height:140px;overflow:auto;white-space:nowrap;display:none;}
.apps_fn_schMenu p{padding:0 5px;box-shadow:none;border-radius:0;background:none;font-size:14px;text-align:center;border:0;}
.apps_fn_schMenu p span{display:block;border-bottom:1px dashed #d4d4d4;height:27px;}
.apps_fn_schMenu p.l span{border-bottom:none;}
.apps_fn_schMenu p.l{border-radius:0 0 5px 5px;overflow:hidden;}
.apps_fn_schMenu p.f{border-radius:5px 5px 0 0;overflow:hidden;}
.apps_fn_schMenu p.on{background:#425C9E;color:#fff;cursor:pointer;}



.apps_btn1{width:53px; height:34px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px; cursor:pointer; color:#425c9e;}
.apps_btn2{width:293px; height:34px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px; cursor:pointer; color:#425c9e;}
.apps_btn3{width:53px; height:34px; background:#fc4519; border:#ff3c0d solid 1px; cursor:pointer; color:#fff;}
.apps_btn4{width:293px; height:34px;background:#fc4519; border:#ff3c0d solid 1px; cursor:pointer; color:#fff;}
.apps_btn5{width:53px; height:34px; background:#5b7edc; border:#4763aa solid 1px; cursor:pointer; color:#fff;}
.apps_btn6{width:293px; height:34px;background:#5b7edc; border:#4763aa solid 1px; cursor:pointer; color:#fff;}

.apps_btn7{width:250px; height:34px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px; cursor:pointer; color:#425c9e;}
.apps_btn8{width:120px; height:34px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px; cursor:pointer; color:#425c9e;}

.apps_btna1, .apps_main a.apps_btna1{width:51px; height:32px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px; color:#425c9e; display:block; text-align:center; line-height:32px;}
.apps_btna2, .apps_main a.apps_btna2{width:291px; height:32px; background:url(../images/apps/btn_01.gif) repeat-x; border:#425b9d solid 1px;color:#425c9e;display:block;text-align:center; line-height:32px;}
.apps_btna3, .apps_main a.apps_btna3{width:51px; height:32px; background:#fc4519; border:#ff3c0d solid 1px;color:#fff;display:block;text-align:center; line-height:32px;}
.apps_btna4, .apps_main a.apps_btna4{width:291px; height:32px;background:#fc4519; border:#ff3c0d solid 1px; color:#fff;display:block;text-align:center; line-height:32px;}
.apps_btna5, .apps_main a.apps_btna5{width:51px; height:32px; background:#5b7edc; border:#4763aa solid 1px;color:#fff;display:block;text-align:center; line-height:32px;}
.apps_btna6, .apps_main a.apps_btna6{width:291px; height:32px;background:#5b7edc; border:#4763aa solid 1px; color:#fff;display:block;text-align:center; line-height:32px;}

.apps_disabled,.apps_main a.apps_disabled{ border:#ccc solid 1px; background:#e9e9e9; color:#999; cursor:not-allowed;}

/* 颜色 */
.apps_cBlue, .apps_main a.apps_cBlue{color:#425c9e;}
.apps_cGray, .apps_main a.apps_cGray{color:#222222;}
.apps_cGray5, .apps_main a.apps_cGray5{color:#555555;}
.apps_cGray8, .apps_main a.apps_cGray8{color:#888888;}
.apps_cJacinth, .apps_main a.apps_cJacinth{color:#fc4519;}

/* 加载 */
.apps_wait_img{ text-align:center; padding:50px 0px;}

/* 新闻内容 */
.apps_about a{color:#425c9e; margin-right:10px;}

/* 面包屑 */
.apps_tabnav{ color:#888; margin:10px 0px;}
.apps_tabnav a{color:#425c9e; margin:0px 5px;}
.apps_tabnav span{ color:#000;}
.apps_navtouch{ font-size:16px; text-align:center; line-height:35px; border-bottom:#e2e1e8 solid 1px;font-weight:bold;}
.apps_navtouch a{display:inline-block; width:46px; height:35px;}
.apps_navtouch .left{ background:url(/images/mininav_01.gif) no-repeat 0px center; float:left; border-right:#e2e1e8 solid 1px;}
.apps_navtouch .right{float:right; display:inline-block; width:46px; height:35px;}
.apps_navtouch .fl{ background:url(/images/mininav_01.gif) no-repeat 0px center; float:left; border-right:#e2e1e8 solid 1px;}
.apps_navtouch .fr{background:url(/images/mininav_02.gif) no-repeat right center; float:right; border-left:#e2e1e8 solid 1px;}

/* 头像 */
.apps_headerimg img{ border:#ddd solid 1px; padding:1px;}
/* 带表头的表格 */
.apps_tabletab{ height:auto; overflow:hidden; padding:0px;}
.apps_tabletab table{ border:#d5d8dd solid 1px; border-bottom:0px; margin-top:10px;}
.apps_tabletab table th{ background:#6081c6; color:#fff; font-weight:normal; text-align:center;padding:2px 0px;}
.apps_tabletab table tr{border-bottom:#d5d8dd solid 1px;text-align:center; background:#f5f6fa; color:#555; padding:2px 0px;}
.apps_tabletab .td2{ background:#e7eaef;}

/*p间距*/
.apps_space p{margin-top:5px;}

/* 弹窗 */
.apps_popup{ background:#aebcdf; width:235px; height:auto; overflow:hidden; margin:0px auto;}
.apps_popup dl{}
.apps_popup dt{ height:30px; line-height:30px;}
.apps_popup dt span{ float:right; margin-right:10px; cursor:pointer;}
.apps_popup dd{ background:#f2f3f8; margin:2px 2px;min-height:90px; width:231px; text-align:center; font-size:12px;}
/*.apps_popup dd p{ text-align:center; padding:5px 0;}
.apps_popup dd p input{ border:#959ca4 solid 1px;background:#e0eaf3;background:-webkit-gradient(linear, 0 0, 0 100%, from(#edf1fc), to(#d4dee7));background:-moz-linear-gradient(top, #edf1fc, #d4dee7 100%); width:75px; height:25px; cursor:pointer; color:#303f54; font-size:12px; line-height:25px; margin:0px 5px;}*/

div.marker{height:60px;background:url(../images/menu/elec_eye.png) left top no-repeat;}   
div.marker div{height:25px;line-height:25px;margin:0 10px;color:orange;padding-right:10px;}

.Wdate{
	border:#999 1px solid;
	height:20px;
	/* background:#fff url(datePicker.gif) no-repeat right; */
}